:root {
    --app-color-primary: #5000ffb5;

    --app-color-success: #5ec576;
    --app-color-success-darker: #399e66;
    --app-color-warning: #ffcb03;
    --app-color-warning-darker: #eaac00;
    --app-color-danger: #ff585f;
    --app-color-danger-darker: #fd424b;

    --app-color-grey-light-4: #fcfcfc;
    --app-color-grey-light-3: #f2f2f2;
    --app-color-grey-light-2: #d0d0d0;
    --app-color-grey-light-1: #9c9c9c;
    --app-color-grey: #808080;
    --app-color-grey-dark-1: #6c6c6c;
    --app-color-grey-dark-2: #444444;
    --app-color-grey-dark-3: #2d2c2c;
    --app-color-grey-dark-4: #141313;
    --app-color-black: #000000;
    --app-color-white: #ffffff;

    --app-default-background: #f9fafb;

    --app-default-box-shadow-light: rgba(120, 123, 127, 0.2) 0px 8px 16px;
    --app-default-box-shadow: rgba(75, 77, 80, 0.2) 0px 8px 24px;
    --app-default-border: 1px solid var(--app-color-grey-light-2);
    --app-default-sanserif-font: Arial, Helvetica, sans-serif;

    --app-default-transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.ionicon {
    width: 24px !important;
    height: 24px !important;
    transition: var(--app-default-transition);
    cursor: pointer;
    fill: none;
}

.ionicon:hover {
    transform: scale(1.05);
}

.ionicon:active {
    transform: scale(1);
}

.app_chat_input_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 10px;
    margin: 20px 0px 10px 0px;
    width: 90%;
}

#app {
    width: 320px;
    height: 520px;
    background-color: var(--app-color-white);
    box-shadow: var(--app-default-box-shadow);
    position: absolute;
    bottom: 40px;
    left: 40px;
    border-radius: 12px;
    padding: 20px;
    z-index: 10000000000;
    position: fixed;
}

.app_chat_header {
    width: 320px;
    /* background-color: var(--app-color-black); */
    border-bottom: var(--app-default-border);
    color: var(--app-color-grey-light-1);
    padding: 20px 10px 20px 30px;
    border-radius: 12px 12px 0px 0px;
    font-weight: bold;
    position: relative;
    top: -20px;
    left: 0px;
    margin: 0px 0px -10px -20px;
}

#app_chat_messages_container {
    height: 340px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 10px 0px 0px 0px;
}

.app_chat_message_container {
    margin: 10px 0px 0px 0px;
}

.app_chat_message_box {
    background-color: var(--app-default-background);
    padding: 10px 10px 1px 10px;
    border-radius: 12px;
    border: var(--app-default-border);
    color: #646b72;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 14px;
    width: fit-content;
    height: auto;
    margin: 10px 10px 10px 10px;
}

.sender_message {
    background-color: var(--app-color-black);
    color: var(--app-color-white);
    justify-content: right;
    /* margin: 10px 10px 0px 60px; */
}

.sender_time {
    /* margin: 2px 0px 16px 61px !important; */
}

.app_chat_message_time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: -7px 0px 20px 15px;
    font-size: 10px;
    color: var(--app-color-grey-light-1);
}

.app_chat_sender_image {
    height: 32px;
    width: 32px;
    border-radius: 100px;
    background-color: black;
}

.app_input_message_wrapper_text {
    min-height: 12px;
    max-height: 54px;
    width: 100%;
    align-content: center;
    outline: none;
    overflow: hidden;
    color: var(--app-color-grey);
}

.app_input_message_wrapper {
    width: 260px;
    border: var(--app-default-border);
    border-radius: 12px;
    background-color: var(--app-default-background);
    padding: 14px;
    max-height: 50px;
}

.app_chat_input {
    width: 80%;
    max-height: 40px;
    border-radius: 4px;
    border: var(--app-default-border);
    outline: none;
    padding: 10px;
    font-size: 14px;
    color: var(--app-color-grey-dark-1);
    line-height: 19px;
}

#sendBtn {
    margin: 0px 0px 0px 10px;
    stroke: var(--app-color-grey-light-1);
}

#app_login_area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_signup_form {
    margin: 20px;
    width: 100%;
    height: 64%;
}

.app_form_label {
    font-family: var(--app-default-sanserif-font);
    font-size: 12px;
    color: var(--app-color-grey-light-1);
}

.app_form_input {
    padding: 10px 10px 12px 10px;
    font-family: var(--app-default-sanserif-font);
    appearance: none;
    height: 32px;
    width: 90%;
    margin: 10px 0px 10px 0px;
    border-radius: 6px;
    background-color: var(--app-color-white);
    border: 1px solid var(--app-color-grey-light-1);
    font-size: 16px;
    color: var(--app-color-grey);
    outline: 0px !important;
}

.app_standard_button {
    background-color: var(--app-color-black);
    font-size: 12px;
    color: var(--app-color-white);
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 99%;
    height: 42px;
    transition: var(--app-default-transition);
    margin: 20px 0px 0px 0px;
}

.app_standard_button:hover {
    transform: scale(1.02);
}

.app_standard_button:active {
    transform: scale(1) !important;
}

.login_signup_switch_text {
    font-size: 12px;
    color: var(--app-color-grey);
}

#loginSignupSwitchBtn {
    color: var(--app-color-black);
    cursor: pointer;
    transition: var(--app-default-transition);
}

#loginSignupSwitchBtn:hover {
    transform: scale(1.05);
}

#loginSignupSwitchBtn:active {
    transform: scale(1) !important;
}

.hide {
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
